body {
    background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?&fm=jpg&ixid=M3w0Njc2NzV8MHwxfGFsbHx8fHx8fHx8fDE2ODgwNDMwMjh8&ixlib=rb-4.0.3&w=1600");
    background-repeat: no-repeat;
    background-size: cover;
}
